<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neighor.neighbor001"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name="NeighborApplecation"
        android:fitsSystemWindows="true"
        android:allowBackup="true"
        android:icon="@drawable/linju_destop"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.neighbor.activity.UserStartLoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.neighbor.activity.MainActivity">
        </activity>
        <activity 
            android:name="com.neighbor.activity.JinRiYouHuiActivity">
        </activity>
        
        <activity 
            android:name="com.neighbor.activity.JinRiYouHuiListActivity">
        </activity>
        <activity 
            android:name="com.neighbor.activity.UserQueryChargeMsgActivity">
        </activity>
        
        <activity 
            android:name="com.neighbor.activity.ChangeNiChengActivity">
        </activity>
        <activity 
            android:name="com.neighbor.activity.HouseHireActivity">
        </activity>
        <activity 
            android:name="com.neighbor.activity.SuperMenberActivity">
        </activity>
        <activity 
            android:name="com.neighbor.activity.UserAddressActivity">
        </activity>
        <activity 
            android:name="com.neighbor.activity.AboutNeighborActivity">
        </activity>
        <activity 
            android:name="com.neighbor.activity.SelectReceiveAddressActivity">
        </activity>
        <activity 
            android:name="com.neighbor.activity.UserIsLoginActivity">
        </activity>
        
        <activity 
            android:name="com.neighbor.activity.UserRegisterActivity">
        </activity>
        
    </application>
	
</manifest>
